body {
  padding: 0;
  margin: 20px;
  background-color: #f2efe3;
}

@font-face {
  font-family: GloriaHallelujah;
  src: url(../fonts/GloriaHallelujah-Regular.ttf);
}

@font-face {
  font-family: RobotoMono;
  src: url(../fonts/RobotoMono-VariableFont_wght.ttf);
}

#logo {
  width: 70px; 
  height: 70px;
}

#instruct {
  font-size: 30px;
  font-family: GloriaHallelujah, "Times New Roman";
}

#abt_me {
  float: right;
  font-size: 60px;
  width: 55%;
  right: 100px;
  text-align: justify;
}

#abt {
  font-size: 40px;
  font-family: GloriaHallelujah, "Times New Roman";
}

a {
  text-decoration: none;
}

#intro {
  font-family: RobotoMono, Helvetica;
  width: 630px;
  font-size: 20px;
}
