html {
  background-color: #f2efe3;
  margin: 30px;
}

@font-face {
  font-family: GloriaHallelujah;
  src: url(../fonts/GloriaHallelujah-Regular.ttf);
}

@font-face {
  font-family: RobotoMono;
  src: url(../fonts/RobotoMono-VariableFont_wght.ttf);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e8e6d9;
}

li {
  float: left;
}

li a, .artdrop {
  display: inline-block;
  color: #272c34;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

li a:hover, .art:hover .artdrop {
  background-color: #d6d2c2;
}

li.art {
  display: inline-block;
}

li img {
  height: 45px;
}

#logo {
  width: 70px;
}

.art-sub {
  display: none;
  position: absolute;
  background-color: #f6eeee;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.art-sub a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.art-sub a:hover {
  background-color: #f1f1f1;
}

.art:hover .art-sub {
  display: block;
}

.sprite {
  float: right !important;
}

#fb {
  background: url(../images/n.png) no-repeat 0 0;
  width: 50px;
  height: 50px;
}

#twt {
  background: url(../images/n.png) no-repeat -50px 0;
  width: 50px;
  height: 50px;
}

#ig {
  background: url(../images/n.png) no-repeat -100px 0;
  width: 50px;
  height: 50px;
}

nav {
  font-size: 18px;
  margin: -30px;
}

header {
  display: block;
  text-align: center; 
  font-family: GloriaHallelujah;
  font-size: 40px;
  z-index: 1;
}

footer, a {
  text-decoration: none;
  font-family: RobotoMono;
}

#portfolio {
  display: flex; 
  justify-content: space-around;
}

#rendered, #doodles {
  width: 500px; 
  height: 500px;
}

#rendered:hover, #doodles:hover {
  transition-duration: 0.3s;
  transform:scale(1.05);
}