html {
  background-color: #f2efe3;
  margin: 30px;
}

@font-face {
  font-family: GloriaHallelujah;
  src: url(../fonts/GloriaHallelujah-Regular.ttf);
}

@font-face {
  font-family: RobotoMono;
  src: url(../fonts/RobotoMono-VariableFont_wght.ttf);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  width: 190px;
}

nav {
  font-size: 20px;
}

header {
  display: block;
  text-align: center; 
  font-family: GloriaHallelujah;
  font-size: 40px;
  z-index: 1;
}

article {
  margin: -50px 0 0 0; 
  display: flex; 
  justify-content: space-around;
  z-index: 2; 
}

footer, a{
  text-decoration: none;
  font-family: RobotoMono;
}

#twitter {
  background: url('../images/sprites.png') no-repeat -411px -28px;
	width: 55px;
	height: 54px;
}

#yt {
  background: url('../images/sprites.png') no-repeat -350px -28px;
	width: 55px;
	height: 54px;  
}
#pin {
  background: url('../images/sprites.png') no-repeat -229px -28px;
	width: 55px;
	height: 54px;  
}