html {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 50px;
  background-color: #f2efe3;
  overflow: auto;
}

@font-face {
  font-family: GloriaHallelujah;
  src: url(/fonts/GloriaHallelujah-Regular.ttf);
}

@font-face {
  font-family: RobotoMono;
  src: url(/fonts/RobotoMono-VariableFont_wght.ttf);
}

#top_div {
  margin: 0px 0px 30px 0px;
  height: 50px;
}

#logo {
  position:absolute;
  left: 0px;
  width: 100px; 
  height: 100px;
}

#about {
  font: 20px;
  font-family: RobotoMono, Helvetica, "Times New Roman";
  border:1px solid black;
  position:absolute;
  right: 10px;
  padding: 20px 35px;
  margin: auto;
}

#about:hover {
  background: white;
}

#title {
  font-family: GloriaHallelujah, "Times New Roman";
  float: left;
  font-size: 4em;
}
#app {
  font-family: RobotoMono;
  font-size: 20px;
}
#pic_me {
  display: flex; 
  justify-content: flex-end;
  margin: 0px 0px 70px 301px;
}

a {
  text-decoration: none;  
}

#know {
  font-family: GloriaHallelujah, "Times New Roman";
  font-size: 45px;
  text-align: center;
}

.know_more {
  width: 350px;
  height: 350px;
}

#div_knowmore {
  display: flex; 
  justify-content: space-around;
  flex-wrap: nowrap;
}

#div_knowmore img {
  width: 250px;
  height: 250px;
}

#anchors {
  display: flex; 
  text-align: left;
  justify-content: space-around;
}

#banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1210px;
  height: 300px;
}

#ends {
  display: flex;
  justify-content: space-between;
}

#end1 {
  font-family: GloriaHallelujah;
  font-size: 50px;
}



