html {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 50px;
  background-color: #f2efe3;
  overflow: auto;
}

@font-face {
  font-family: GloriaHallelujah;
  src: url(/fonts/GloriaHallelujah-Regular.ttf);
}

@font-face {
  font-family: RobotoMono;
  src: url(/fonts/RobotoMono-VariableFont_wght.ttf);
}

#top_div {
  margin: 0px 0px 30px 0px;
  height: 50px;
}

#logo {
  position:absolute;
  left: 0px;
  width: 100px; 
  height: 100px;
}

#about {
  font: 20px;
  font-family: RobotoMono, Helvetica, "Times New Roman";
  border:1px solid black;
  position:absolute;
  right: 10px;
  padding: 20px 35px;
  margin: auto;
}

#about:hover {
  background: white;
}

#title {
  font-family: GloriaHallelujah, "Times New Roman";
  float: left;
  font-size: 4em;
  
}
#app {
  font-family: RobotoMono;
  font-size: 20px;
}
#pic_me {
  display: flex; 
  justify-content: flex-end;
  margin: 0px 0px 70px 301px;
}

a {
  text-decoration: none;  
}

#know {
  font-family: GloriaHallelujah, "Times New Roman";
  font-size: 45px;
  text-align: center;
}

.cover {
  width: 350px;
  height: 350px;
}

#div_knowmore {
  display: flex; 
  justify-content: space-around;
  flex-wrap: nowrap;
}

#div_knowmore img {
  width: 300px;
  height: 300px;
}

#anchors {
  display: flex; 
  text-align: left;
  justify-content: space-around;
}

#banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1210px;
  height: 300px;
}

#end1 {
  font-family: GloriaHallelujah;
  font-size: 50px;
}

#mail {
  background: url('../a.png') no-repeat 0px 0px;
	width: 50px;
	height: 50px;
}

#fb {
  background: url('../a.png') no-repeat -50px 0px;
	width: 50px;
	height: 50px; 
}

#twt {
  background: url('../a.png') no-repeat -100px 0px;
	width: 50px;
	height: 50px;
}

#ig {
  background: url('../a.png') no-repeat -150px 0px;
	width: 50px;
	height: 50px;
}

#sprites {
  display: inline-block;
}

#contact {
  display: inline-flex;
  flex-wrap: nowrap;
}

#sep_line {
  border-left: 1px solid black;
  height: 200px;
  display: inline-block;
  margin-left: 30px;
}

#sources {
  display: inline-block;
}

#ref_header {
  font-size: 45px;
  font-family: GloriaHallelujah, "Times New Roman";
  margin-left: 30px;
}