html {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 50px;
  background-color: #f2efe3;
  overflow: auto;
}

#top_div {
  margin: 0px 0px 30px 0px;
  height: 50px;
}

#img {
  position:absolute;
  left: 0px;
  width: 100px; 
  height: 60px;
}

#about {
  border:1px solid black;
  position:absolute;
  right: 10px;
  padding: 20px 35px;
  margin: auto;
}

#about:hover {
  background: white;
}

#title {
  float: left;
  font-size: 60px;
}
#app {
  font-size: 20px;
}
#pic_me {
  display: flex; 
  justify-content: flex-end;
  margin: 0px 0px 70px 301px;
}

a {
  text-decoration: none;  
}



#know {
  font-size: 45px;
  text-align: center;
}

.know_more {
  
  width: 350px;
  height: 350px;
}

#right {
  right: 70px;
  position: absolute;
  margin: auto; 
}

#center {
  left: 10px;
  right: 10px;
  position: absolute;
  margin: auto; 
} 

#anchor1 {
  margin: 0px 170px 0px 160px;
}

#anchor2 {
  margin: 0px 200px 0px 210px;
}

#anchor3 {
  margin: 0px 0px 0px 200px;
}

#banner {
  width: 1210px;
  height: 300px;
}

#end1 {
  font-size: 60px;
}

#end2 {
  margin: 0px 70px 0px 70px;
  width: 200px;
  display: inline-block;
  word-break: break-word;
}

#end3 {
  margin: 0px 80px 0px 10px;
  width: 120px;
  display: inline-block;
  word-break: break-word;
}

#end4 {
  margin: 0px 0px 0px 50px;
  width: 120px;
  display: inline-block;
  word-break: break-word;
}